[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "PyPI"

[packages]
configparser = "*"
lxml = "*"
pandas = "*"
requests = "*"

[dev-packages]
black   = "==21.4b2" # Locked for pre-release version
ipython = "*"
